.under-line {
    background: #D93915;
    height: 1px;
}
.btn:active {
    background: #D93915;
}
.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
}
.icon > span {
    position: relative;
    left: 27%;
    top: 26%;
}
.icon-green {
    background: #00B894;
    top: 30%;
    left: 5%;
}
.icon-purple {
    background: #6C5CE7;
    left: 20%;
}
.icon-pink {
    background: #E84393;
    left: 95%;
    top: 10%;
}
.icon-blue {
    background: #0984E3;
    left: 95%;
    top: 24%;
}
.input-icon {
    border: 1px solid #ced4da;
    border-left: unset;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}
.input-icon button {
    background: unset;
}
/*input:focus {*/
/*    border-color: unset !important;*/
/*    border: 1px solid #ced4da;*/
/*    box-shadow: unset !important;*/
/*}*/
.tag {
    width: 54px;
    height: 24px;
    padding: 5px 10px;
    border-radius: 100px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.tag-red {
    background: #F12B2C;
}
.background-main {
    background: #FBFAFA;
}
.input-search input {
    background: #FFFFFF;
    border-radius: 4px;
    border-left: unset;
}
.input-search button {
    background: white;
    border: 1px solid #ced4da;
    border-right: unset;
    border-radius: unset;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}
i {
    color: white;
}
.btn-purple {
    background: #6C5CE7;
    border-radius: 16px;
    color: white;
}
.btn-white {
    background: white;
    color: #D93915;
    border: 1px solid #D93915 !important;
    box-sizing: border-box;
    border-radius: 5px;
}
.btn-white i {
    color: #D93915;
}
.btn-red {
    background: #D93915;
    border-radius: 5px;
    color: white;
}
.basic-info i, .basic-edit i {
    color: #5C5C5C;
    margin-right: 10px;
}
.basic-info, .basic-edit {
    background: #FFFFFF;
    box-shadow: 0px -8px 16px rgba(255, 255, 255, 0.4), 0px 16px 24px rgba(55, 71, 79, 0.16);
    border-radius: 30px;
}
.basic-info tr td, .basic-edit tr td {
    padding: 10px 0;
}
.v-tag {
    padding: 1px 12px;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    height: 22px;
    margin: auto 0;
}
.v-tag img {
    margin-bottom: 3px;
}
.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity 0.5s ease;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto !important;
    display: flex !important;
    flex-direction: column;
    position: unset !important;
    border-radius: 10px;
    width: 30%;
    min-height: 250px;
}

.modal-header,
.modal-footer {
    padding: 15px;
    display: unset;
}

.modal-header {
    border-bottom: unset !important;
    color: #D93915;
}

.modal-footer {
    border-top: unset !important;
    justify-content: space-between;
}

.modal-body {
    position: relative;
    padding: 20px 20px;
    flex: unset;
}
.input-error-red {
    border-color: red !important;
}

.action span {
    cursor: pointer;
}

.basic-edit .user-info-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.basic-edit .user-info-avatar-image {
    overflow: hidden;
    border-radius: 50%;
}
.basic-edit .user-info-avatar > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.basic-edit .user-info-avatar .image-select-background {
    background: #192A3E;
    opacity: 0.4;
}
.basic-edit .image-select {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
}
.basic-edit .image-done {
    position: absolute;
    bottom: -7%;
    right: 5%;
}
.basic-edit table {
    width: 100%;
}
.basic-edit table input, select, textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 5px;
}
.basic-edit {
    padding: 2rem;
    width: 100%;
    margin-top: 20px;
}
.required:after {
    content:" *";
    color: red;
}