USE [CRM]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountOwner] [int] NULL,
	[AccountCollaborator] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Website] [nvarchar](100) NULL,
	[ACCOUNT_TYPE_ID] [int] NULL,
	[INDUSTRY_ID] [int] NULL,
	[TaxCode] [nvarchar](30) NULL,
	[NoEmployees] [int] NULL,
	[AnnualRevenue] [bigint] NULL,
	[BankName] [varchar](100) NULL,
	[BankAccountName] [nvarchar](100) NULL,
	[BankAccount] [varchar](100) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Email] [nvarchar](320) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ConvertFrom] [int] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
	[Country] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[AddressDetail] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_TYPE]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALL]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_TEMPLATE_ID] [int] NULL,
	[CALLREASON_ID] [int] NULL,
	[CALLRESULT_ID] [int] NULL,
	[CALLTYPE_ID] [int] NULL,
	[Length] [int] NULL,
	[CONTACT_ID] [int] NULL,
	[LEAD_ID] [int] NULL,
	[RELATED_DEAL] [int] NULL,
	[RELATED_ACCOUNT] [int] NULL,
	[RELATED_CAMPAIGN] [int] NULL,
	[StartTime] [datetime] NULL,
	[CallOwner] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALL_REASON]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALL_REASON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALL_RESULT]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALL_RESULT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALL_TYPE]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALL_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMPAIGN]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPAIGN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CampaignOwner] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ActualCost] [bigint] NULL,
	[BudgetedCost] [bigint] NULL,
	[ExpectedResponse] [int] NULL,
	[ExpectedRevenue] [bigint] NULL,
	[NumberSent] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
	[CAMPAIGN_TYPE_ID] [int] NULL,
	[CAMPAIGN_STATUS_ID] [int] NULL,
	[EmailTitle] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMPAIGN_STATUS]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPAIGN_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMPAIGN_TARGET]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPAIGN_TARGET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAMPAIGN_ID] [int] NULL,
	[CONTACT_ID] [int] NULL,
	[LEAD_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMPAIGN_TYPE]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPAIGN_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPETITOR]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPETITOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Website] [nvarchar](100) NULL,
	[Strengths] [nvarchar](2000) NULL,
	[Weaknesses] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContactOwner] [int] NULL,
	[ContactCollaborator] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](320) NULL,
	[Phone] [varchar](15) NULL,
	[Skype] [nvarchar](32) NULL,
	[Mobile] [varchar](15) NULL,
	[DepartmentName] [nvarchar](100) NULL,
	[Birthday] [date] NULL,
	[AssistantName] [nvarchar](100) NULL,
	[AssistantPhone] [varchar](15) NULL,
	[NoEmail] [bit] NULL,
	[NoCall] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ConvertFrom] [int] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
	[PRIORITY_ID] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[AddressDetail] [nvarchar](200) NULL,
	[Avatar] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEAL]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ClosingDate] [datetime] NULL,
	[DealOwner] [int] NULL,
	[Amount] [bigint] NULL,
	[ExpectedRevenue] [bigint] NULL,
	[Contact_ID] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[CAMPAIGN_ID] [int] NULL,
	[isLost] [bit] NULL,
	[LOST_REASON_ID] [int] NULL,
	[Description] [nvarchar](2000) NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[PRIORITY_ID] [int] NULL,
	[ExpectedClosingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEAL_COMPETITOR]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAL_COMPETITOR](
	[COMPETITOR_ID] [int] NOT NULL,
	[DEAL_ID] [int] NOT NULL,
	[Suggestions] [nvarchar](2000) NULL,
	[ThreatLevel] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[COMPETITOR_ID] ASC,
	[DEAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILE]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](200) NULL,
	[FileSize] [int] NULL,
	[NOTE_ID] [int] NULL,
	[Data] [varbinary](max) NULL,
	[FileStorePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_PERMISSION]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_PERMISSION](
	[GROUP_ID] [int] NOT NULL,
	[PERMISSION_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDUSTRY]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDUSTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEAD]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[LeadSource] [int] NULL,
	[AnnualRevenue] [bigint] NULL,
	[CompanyName] [nvarchar](150) NULL,
	[Fax] [varchar](15) NULL,
	[Description] [nvarchar](2000) NULL,
	[INDUSTRY_ID] [int] NULL,
	[NoEmail] [bit] NULL,
	[LeadOwner] [int] NULL,
	[NoCall] [bit] NULL,
	[Phone] [varchar](15) NULL,
	[Website] [nvarchar](100) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Skype] [nvarchar](32) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[PRIORITY_ID] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[AddressDetail] [nvarchar](200) NULL,
	[LeadStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEAD_SOURCE]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAD_SOURCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEAD_STATUS]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAD_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOST_REASON]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOST_REASON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEETING]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEETING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_TEMPLATE_ID] [int] NULL,
	[Host] [int] NULL,
	[Location] [nvarchar](200) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[IsAllDay] [bit] NULL,
	[IsRemindParticipant] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEETING_PARTICIPANT]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEETING_PARTICIPANT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MEETING_ID] [int] NULL,
	[LEAD_ID] [int] NULL,
	[USER_ID] [int] NULL,
	[CONTACT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTE]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[NoteBody] [nvarchar](2000) NULL,
	[ACCOUNT_ID] [int] NULL,
	[CONTACT_ID] [int] NULL,
	[LEAD_ID] [int] NULL,
	[DEAL_ID] [int] NULL,
	[TASK_TEMPLATE_ID] [int] NULL,
	[CAMPAIGN_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NotificationTitle] [nvarchar](50) NULL,
	[NotificationContent] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[Module] [nvarchar](20) NULL,
	[ModuleObjectID] [int] NULL,
	[Submodule] [nvarchar](20) NULL,
	[SubmoduleObjectID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[PERMISSION_ORDER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION_ORDER]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION_ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRIORITY]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRIORITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFRESH_TOKEN]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFRESH_TOKEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](100) NULL,
	[USER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAGE]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Probability] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAGE_HISTORY]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_HISTORY](
	[STAGE_ID] [int] NOT NULL,
	[DEAL_ID] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG_ITEM]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG_ITEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TAG_ID] [int] NOT NULL,
	[DEAL_ID] [int] NULL,
	[CALL_ID] [int] NULL,
	[TASK_ID] [int] NULL,
	[MEETING_ID] [int] NULL,
	[CAMPAIGN_ID] [int] NULL,
	[LEAD_ID] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[CONTACT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_TEMPLATE_ID] [int] NULL,
	[TaskOwner] [int] NULL,
	[CONTACT_ID] [int] NULL,
	[LEAD_ID] [int] NULL,
	[RELATED_CAMPAIGN] [int] NULL,
	[RELATED_DEAL] [int] NULL,
	[RELATED_ACCOUNT] [int] NULL,
	[EndOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK_STATUS]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK_TEMPLATE]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_TEMPLATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[IsRepeat] [bit] NULL,
	[RRule] [nvarchar](100) NULL,
	[TASK_STATUS_ID] [int] NULL,
	[Description] [nvarchar](2000) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
	[PRIORITY_ID] [int] NULL,
	[IsCompleted] [bit] NULL,
	[DueDate] [datetime] NULL,
	[EventId] [nvarchar](2000) NULL,
	[StartDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Avatar] [nvarchar](500) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Hash] [varchar](200) NULL,
	[RememberMeToken] [varchar](200) NULL,
	[Email] [nvarchar](320) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Skype] [nvarchar](32) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[GROUP_ID] [int] NULL,
	[CalendarId] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_NOTIFICATION]    Script Date: 05/31/21 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_NOTIFICATION](
	[USER_ID] [int] NOT NULL,
	[NOTIFICATION_ID] [int] NOT NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[NOTIFICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ((0)) FOR [NoEmail]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ((0)) FOR [NoCall]
GO
ALTER TABLE [dbo].[DEAL] ADD  DEFAULT ((0)) FOR [isLost]
GO
ALTER TABLE [dbo].[LEAD] ADD  DEFAULT ((0)) FOR [NoEmail]
GO
ALTER TABLE [dbo].[LEAD] ADD  DEFAULT ((0)) FOR [NoCall]
GO
ALTER TABLE [dbo].[MEETING] ADD  DEFAULT ((0)) FOR [IsAllDay]
GO
ALTER TABLE [dbo].[MEETING] ADD  DEFAULT ((0)) FOR [IsRemindParticipant]
GO
ALTER TABLE [dbo].[TASK_TEMPLATE] ADD  DEFAULT ((0)) FOR [IsRepeat]
GO
ALTER TABLE [dbo].[TASK_TEMPLATE] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[USER_NOTIFICATION] ADD  DEFAULT ((0)) FOR [IsRead]
GO


ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([AccountOwner])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([AccountCollaborator])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_TYPE_ID])
REFERENCES [dbo].[ACCOUNT_TYPE] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([ConvertFrom])
REFERENCES [dbo].[LEAD] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([INDUSTRY_ID])
REFERENCES [dbo].[INDUSTRY] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([CallOwner])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([CALLREASON_ID])
REFERENCES [dbo].[CALL_REASON] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([CALLRESULT_ID])
REFERENCES [dbo].[CALL_RESULT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([CALLTYPE_ID])
REFERENCES [dbo].[CALL_TYPE] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([LEAD_ID])
REFERENCES [dbo].[LEAD] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([RELATED_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([RELATED_CAMPAIGN])
REFERENCES [dbo].[CAMPAIGN] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([RELATED_DEAL])
REFERENCES [dbo].[DEAL] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[TASK_TEMPLATE] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CAMPAIGN]  WITH CHECK ADD FOREIGN KEY([CampaignOwner])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CAMPAIGN]  WITH CHECK ADD FOREIGN KEY([CAMPAIGN_TYPE_ID])
REFERENCES [dbo].[CAMPAIGN_TYPE] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CAMPAIGN]  WITH CHECK ADD FOREIGN KEY([CAMPAIGN_STATUS_ID])
REFERENCES [dbo].[CAMPAIGN_STATUS] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CAMPAIGN]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CAMPAIGN]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CAMPAIGN_TARGET]  WITH CHECK ADD FOREIGN KEY([CAMPAIGN_ID])
REFERENCES [dbo].[CAMPAIGN] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CAMPAIGN_TARGET]  WITH CHECK ADD FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CAMPAIGN_TARGET]  WITH CHECK ADD FOREIGN KEY([LEAD_ID])
REFERENCES [dbo].[LEAD] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD FOREIGN KEY([ContactOwner])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD FOREIGN KEY([ContactCollaborator])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD FOREIGN KEY([PRIORITY_ID])
REFERENCES [dbo].[PRIORITY] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL]  WITH CHECK ADD FOREIGN KEY([CAMPAIGN_ID])
REFERENCES [dbo].[CAMPAIGN] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL]  WITH CHECK ADD FOREIGN KEY([Contact_ID])
REFERENCES [dbo].[CONTACT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL]  WITH CHECK ADD FOREIGN KEY([DealOwner])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL]  WITH CHECK ADD FOREIGN KEY([LOST_REASON_ID])
REFERENCES [dbo].[LOST_REASON] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL]  WITH CHECK ADD FOREIGN KEY([PRIORITY_ID])
REFERENCES [dbo].[PRIORITY] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL_COMPETITOR]  WITH CHECK ADD FOREIGN KEY([COMPETITOR_ID])
REFERENCES [dbo].[COMPETITOR] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[DEAL_COMPETITOR]  WITH CHECK ADD FOREIGN KEY([DEAL_ID])
REFERENCES [dbo].[DEAL] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[FILE]  WITH CHECK ADD FOREIGN KEY([NOTE_ID])
REFERENCES [dbo].[NOTE] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[GROUP_PERMISSION]  WITH CHECK ADD FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUP_PERMISSION]  WITH CHECK ADD FOREIGN KEY([PERMISSION_ID])
REFERENCES [dbo].[PERMISSION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LEAD]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[LEAD]  WITH CHECK ADD FOREIGN KEY([INDUSTRY_ID])
REFERENCES [dbo].[INDUSTRY] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[LEAD]  WITH CHECK ADD FOREIGN KEY([LeadOwner])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[LEAD]  WITH CHECK ADD FOREIGN KEY([LeadSource])
REFERENCES [dbo].[LEAD_SOURCE] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[LEAD]  WITH CHECK ADD FOREIGN KEY([LeadStatus])
REFERENCES [dbo].[LEAD_STATUS] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[LEAD]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[LEAD]  WITH CHECK ADD FOREIGN KEY([PRIORITY_ID])
REFERENCES [dbo].[PRIORITY] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[MEETING]  WITH CHECK ADD FOREIGN KEY([Host])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MEETING]  WITH CHECK ADD FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[TASK_TEMPLATE] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[MEETING_PARTICIPANT]  WITH CHECK ADD FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MEETING_PARTICIPANT]  WITH CHECK ADD FOREIGN KEY([LEAD_ID])
REFERENCES [dbo].[LEAD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MEETING_PARTICIPANT]  WITH CHECK ADD FOREIGN KEY([MEETING_ID])
REFERENCES [dbo].[MEETING] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MEETING_PARTICIPANT]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD FOREIGN KEY([CAMPAIGN_ID])
REFERENCES [dbo].[CAMPAIGN] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD FOREIGN KEY([DEAL_ID])
REFERENCES [dbo].[DEAL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD FOREIGN KEY([LEAD_ID])
REFERENCES [dbo].[LEAD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[TASK_TEMPLATE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PERMISSION]  WITH CHECK ADD FOREIGN KEY([PERMISSION_ORDER_ID])
REFERENCES [dbo].[PERMISSION_ORDER] ([ID])
GO
ALTER TABLE [dbo].[REFRESH_TOKEN]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAGE_HISTORY]  WITH CHECK ADD FOREIGN KEY([DEAL_ID])
REFERENCES [dbo].[DEAL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAGE_HISTORY]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAGE_HISTORY]  WITH CHECK ADD FOREIGN KEY([STAGE_ID])
REFERENCES [dbo].[STAGE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([CALL_ID])
REFERENCES [dbo].[CALL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([CAMPAIGN_ID])
REFERENCES [dbo].[CAMPAIGN] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([DEAL_ID])
REFERENCES [dbo].[DEAL] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([LEAD_ID])
REFERENCES [dbo].[LEAD] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([MEETING_ID])
REFERENCES [dbo].[MEETING] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([TAG_ID])
REFERENCES [dbo].[TAG] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAG_ITEM]  WITH CHECK ADD FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TASK] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD FOREIGN KEY([LEAD_ID])
REFERENCES [dbo].[LEAD] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD FOREIGN KEY([RELATED_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD FOREIGN KEY([RELATED_CAMPAIGN])
REFERENCES [dbo].[CAMPAIGN] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD FOREIGN KEY([RELATED_DEAL])
REFERENCES [dbo].[DEAL] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[TASK_TEMPLATE] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD FOREIGN KEY([TaskOwner])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK_TEMPLATE]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK_TEMPLATE]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK_TEMPLATE]  WITH CHECK ADD FOREIGN KEY([PRIORITY_ID])
REFERENCES [dbo].[PRIORITY] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[TASK_TEMPLATE]  WITH CHECK ADD FOREIGN KEY([TASK_STATUS_ID])
REFERENCES [dbo].[TASK_STATUS] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USER] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP] ([ID])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[USER_NOTIFICATION]  WITH CHECK ADD FOREIGN KEY([NOTIFICATION_ID])
REFERENCES [dbo].[NOTIFICATION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_NOTIFICATION]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([ID])
ON DELETE CASCADE
GO
